.clear-fix {
    clear: both;
}
.product-name-link {
    display: block;
    margin: 10px 0;
}
.more-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.more-list li {
    display: block;
    margin-bottom: 5px;
}
.product-name {
    float: left;
}
.admin__menu #menu-sweb-cpanel-view .submenu .item-addimage,
.admin__menu #menu-sweb-cpanel-view .submenu .item-addimage-two {
    background-size: cover;
}
.admin__menu #menu-sweb-cpanel-view .submenu .item-addimage {
    background-image: url('../images/nyh-banner.jpg');
    height: 363px;
    width: 238px;
}

.admin__menu #menu-sweb-cpanel-view .submenu .item-addimage-two {
    background-image: url('../images/nyh-banner-two.jpg');
    height: 72px;
    width: 238px;
}
.admin__menu #menu-sweb-cpanel-view .submenu .item-add strong.submenu-group-title,
.admin__menu #menu-sweb-cpanel-view .submenu .item-add-two strong.submenu-group-title,
.admin__menu #menu-sweb-cpanel-view .submenu .item-addimage a span,
.admin__menu #menu-sweb-cpanel-view .submenu .item-addimage-two a span {
    display: none;
}
.admin__menu #menu-sweb-cpanel-view > a::before {
    content: '' !important;
    margin: 0 auto .5rem;
    width: 22px;
    height: 22px;

} /*
.admin__menu #menu-sweb-cpanel-view > a::before {
    background: url('../images/sweb-nyh-icons.png') no-repeat -10px -10px;
}
.admin__menu #menu-sweb-cpanel-view > a:hover:before {
    background: url('../images/sweb-nyh-icons.png') no-repeat -42px -10px;
}*/
.admin__menu #menu-sweb-cpanel-view .submenu ul li:nth-child(2) a:hover,
.admin__menu #menu-sweb-cpanel-view .submenu ul li:nth-child(3) a:hover {
    background-color: transparent !important;
}
.admin__menu #menu-sweb-cpanel-view .submenu ul li:nth-child(2) a,
.admin__menu #menu-sweb-cpanel-view .submenu ul li:nth-child(3) a {
    padding-top: 5px;
    padding-bottom: 0;
}
.admin__menu #menu-sweb-cpanel-view .submenu a::after {
    content: '' !important;
}
.nyh_logo {
    font-size: 21px;
    background-repeat: no-repeat;
    margin-bottom: 0;
}
/*
.nyh_logo {
    background-image: url('../images/sweb-nyh-logo.png');
}*/
#menu-sweb-cpanel-view .submenu .parent {
    margin-bottom: 0 !important;
}