.admin__menu #menu-sweb-extensions-extensions > a::before {
    content: '' !important;
    /*background: url('../images/sweb_admin_logo.png') no-repeat -10px -10px;
    */margin: 0 auto .5rem;
    width: 22px;
    height: 22px;
}
.admin__menu #menu-sweb-extensions-extensions > a:hover:before {
    /*background: url('../images/sweb_admin_logo.png') no-repeat -42px -10px;*/
}
.sweb_sweb_logo {
    /*background-image: url('../images/sweb-sweb-logo.png');
    */font-size: 21px;
    background-repeat: no-repeat;
    margin-bottom: 0;
}