
.products-list .product.photo.product-item-photo {
  position: relative;
}
.out-of-stock-wrapper {
  position: absolute;
  z-index: 1;
  display: block;
}
.ptop {
    top: 0;
}
.pleft {
    left: 0;
}
.pright {
    right: 0;
}
.pcenter {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.pmiddle {
    top: 50%;
}
.pbottom {
    bottom: 0;
}
.rating-summary .rating-result {
  margin-left: 5px;
}
.product-item .product-reviews-summary .reviews-actions {
  display: inline-block;
}